# Files
notes/
archive/

# Distribution
build/
dist/

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# MacOS
.DS_Store

# Config
config.*
*.yaml

# Cloud
.gcloudignore

# Environments
venv/
denv/
.env

# Distribution / Packaging
dist/
sdist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/